.c1t4ceo1{-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-top:40px;}
.c1yka16l{-webkit-flex:1;-ms-flex:1;flex:1;}
.i1lty0ka{margin-right:5px;}
.njhr3uv{color:#75052D;}

.c1rl19yv{margin-top:5px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.c1rl19yv a{color:#901742;}
