.s4euf39{position:relative;width:100%;border:1px solid #75052D;margin-top:100px;}
.c1idut5v{position:absolute;left:47%;background-color:white;padding:10px;padding-left:20px;padding-right:20px;top:-19px;color:#75052D;}
