.sqifyet{-webkit-flex:1;-ms-flex:1;flex:1;min-width:500px;padding:5px;}
.tw0sm8p{font-family:HelveticaNeue;font-size:24px;color:#000000;text-align:left;}
.pnnqawd{text-align:justify;margin-bottom:40px;}
